<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Tour Logger </h2>



        <!-- Login Form -->
        <form>
            <button mat-stroked-button color="primary" routerLink="/new" id="landingButton">Neuer Eintrag</button>
            <button mat-stroked-button color="primary" routerLink="/show" id="landingButton2">Alle Einträge</button>
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="https://www.wsv-ottensheim.at/">WSV Ottensheim Website</a>
        </div>

    </div>
</div>
