<h1>Neue Eintragung</h1>
<mat-form-field appearance="fill">
  <mat-label>Vorname</mat-label>
  <input matInput [(ngModel)]="name">
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Nachname</mat-label>
  <input matInput >
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Bootbezeichnung</mat-label>
  <input matInput [(ngModel)]="bootbez">
</mat-form-field>
<mat-form-field appearance="fill" >
  <mat-label>Ort</mat-label>
  <input matInput [(ngModel)]="ort">
</mat-form-field>
<mat-form-field appearance="fill" >
  <mat-label>km-Anzahl</mat-label>
  <input matInput type="number" [(ngModel)]="kmAnzahl">
</mat-form-field>

<button mat-stroked-button color="primary" (click)="addEntry()">Eingabe</button>

<br><br>

<button mat-stroked-button color="primary" routerLink="/show">Einträge</button>
