<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="noTours" *ngIf="fahrten.length == 0">
  <h2>Noch keine Fahrten!</h2>
  <h3>Trage hier deine Fahrt ein:</h3>

</div>
<table>
  <thead>
  <tr>
    <th>Boot</th>
    <th>Fahrer</th>
    <th>Ort</th>
    <th>km-Anzahl</th>
    <th>Löschen</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of fahrten">
      <td>{{ d.boat.name }}</td>
      <td>{{ d.drivers }}</td>
      <td>{{ d.destination }}</td>
      <td>{{ d.distance }}</td>
      <td class="delBtn"><button mat-stroked-button color="primary" (click)="delete(d)"><i class="fa fa-trash"></i></button></td>
    </tr>
  </tbody>
</table>

<button mat-stroked-button color="primary" routerLink="/new">Neuer Eintrag</button>
